global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node_exporter_web"
    static_configs:
      - targets: 
          - "10.0.0.5:9100" # Web server private IP
