name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    env:
      AWS_REGION: ap-southeast-1
      ECR_REPO: devops-bootcamp/final-project-muhaimin
      APP_NAME: my-devops-project

    steps:
    - name: Checkout DevOps repo (Ansible, pipeline)
      uses: actions/checkout@v4
      with:
        path: devops

    - name: Checkout App repo (Docker source)
      uses: actions/checkout@v4
      with:
        repository: Infratify/lab-final-project
        path: app

    - name: Debug workspace (safe)
      run: |
        pwd
        ls -la
        ls -la app

    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region $AWS_REGION \
        | docker login \
          --username AWS \
          --password-stdin \
          $(aws sts get-caller-identity --query Account --output text).dkr.ecr.$AWS_REGION.amazonaws.com

    - name: Build Docker image
      run: |
        docker build -t $APP_NAME ./app

    - name: Tag & Push image
      run: |
        ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
        docker tag $APP_NAME:latest $ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO:latest
        docker push $ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO:latest

    - name: Install Ansible Galaxy collections
      run: |
        ansible-galaxy collection install -r devops/ansible/collections/requirements.yml

    - name: Run Ansible (Docker + Monitoring)
      run: |
        cd devops/ansible
        ansible-playbook -i inventory/hosts.ini playbooks/install-docker.yml
        ansible-playbook -i inventory/hosts.ini playbooks/deploy-app.yml
        ansible-playbook -i inventory/hosts.ini playbooks/node-exporter.yml
        ansible-playbook -i inventory/hosts.ini playbooks/prometheus.yml
        ansible-playbook -i inventory/hosts.ini playbooks/grafana.yml

